body{
  background-color: gray;
}


.container {
    max-width: 600px;
    margin: 50px auto 0; /* Ajuste del margen superior */
    padding: 20px;
    background-color: #f5f5f5; /* Color de fondo gris flojo */
    border-radius: 20px;
  }

  h2{
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  select, button {
    width: calc(100% - 4px); /* Se ajusta para tener el mismo tamaño */
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: auto; /* Ancho automático */
    padding: 8px 15px; /* Ajustar el padding para hacer el botón más pequeño */
    display: block; /* Hacer que el botón sea un bloque para centrarlo */
    margin: 0 auto; /* Margen automático en los lados para centrarlo horizontalmente */
  }
  
  button:hover {
    background-color: #0056b3;
  }

  #mensaje {
    border: 1px solid #000;
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    display: none; /* Inicialmente oculto */
  }

  .botones-container {
    text-align: center; /* Alinear los botones al centro */
  }
  
  .botones-container button {
    display: inline-block; /* Hacer que los botones estén en la misma línea */
    margin: 0 5px; /* Margen entre los botones */
  }
  
  /* Estilos para los campos adicionales */
.nuevos-campos label {
    display: block;
    margin-bottom: 5px;
  }
  
  .nuevos-campos input[type="text"],
  .nuevos-campos input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilos para los botones */
  .botones-container button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: auto;
    padding: 8px 15px;
    display: inline-block; 
    margin: 7px auto;
  }
  
  .botones-container button:hover {
    background-color: #0056b3;
  }
  
  .mensajeEnv {
    display: none; /* Por defecto, ocultar el mensaje */
    padding: 10px;
    background-color: #d4edda; /* Color de fondo verde */
    border: 1px solid #c3e6cb; /* Borde verde claro */
    color: #155724; /* Color de texto verde oscuro */
    margin-bottom: 10px;
}

